body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

header {
    background-color: #794444;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    background-color: #794444;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav ul li a:hover {
    background-color: #794444;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

.character {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.character img {
    max-width: 150px;
    margin-right: 1em;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-container img {
    max-width: 100%;
    height: auto;
    margin: 1em;
    border: 2px solid #794444;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 1em;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.5em 0 0.2em 0;
}

input, textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.7em;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;

    width: 100%;
    bottom: 0;
}
